<p>The students are:</p>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
          	<th>House</th>
        </tr>
    </thead>
    <tbody>
      <% @students.each do |student|%>
        <tr>
            <td><%= student.format_name %></td>
            <td><%= student.age %></td>
            <td><%= student.house %></td>
        </tr>
        <% end %>
    </tbody>
</table>
