<p>Student selected:</p>
<br>
<p>Name: <%= @student.format_name %></p>
<p>House id: <%= @student.house %></p>
<p>Age: <%= @student.age %></p>


<form action="/students/<%= @student.id %>/delete" method="post">
  <input type="submit" value="Delete">

</form>
